canvas {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 80px;
    width: 100%;
    height: calc(100% - 130px);
}

.slider-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.slider-container label {
    display: flex;
    align-items: center;
}

.restart-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}