:root {
  --bg: rgb(0, 4, 20);
  --text-color: #fff;
  --header-bg: rgba(0, 0, 20, 0.5);
  --footer-bg: rgba(0, 0, 20, 0.5);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

body {
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

#content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

header, footer {
  position: relative;
  z-index: 10;
  background-color: var(--header-bg);
  /* backdrop-filter: blur(10px); */
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#header-logo {
  height: auto;
  width: 50px;
  fill: none;
  stroke: none;

}

#header-logo path {
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 4500;
  stroke-dashoffset: 4500;
  animation: 
      draw 3s linear forwards,
      fill 0.5s linear 1s forwards;
}
@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
      fill: transparent;
  }
  to {
      fill: white;
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li:first-child {
  margin-left: 0; 
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

main {

  flex-grow: 1;
  position: relative;
}

footer {
  padding: 1rem;
  text-align: center;
}

.social-icons {
    margin-top: 0.5rem;
}

.social-icons::before {
    width: 120%;
    color: red;
}

.social-icons a {
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

#linkedin-icon:hover {
    color: #0a66c2; 
}

#youtube-icon:hover {
  color: #ff0000; 
}

#email-icon:hover {
  color: #ffbb00; 
}

#github-icon:hover {
color: #5c3893; 
}