:root {
  --bg: rgb(2, 6, 21);
  --bg_light: rgb(8, 13, 32);
  --text-color: #fff;
  --header-bg: rgba(0, 0, 20, 0.5);
  --footer-bg: rgba(0, 0, 20, 0.5);
  --logo-color: rgb(252, 238, 223);
  --iblob_1: rgb(20, 10, 234);
  --iblob_2: rgb(238, 185, 62);
  --welcome-delay: 1.8s;
  --transition-time: 0.5s;
}

/* Light Mode*/
.light-mode {
  --bg: rgb(240, 233, 222);
  --bg_light: rgb(255, 253, 248);
  --text-color: rgb(6, 3, 16);
  --header-bg: rgba(247, 228, 194, 0.5);
  --footer-bg: rgba(247, 228, 194, 0.5);
  --logo-color: rgb(11, 4, 50);
  --iblob_1: rgb(248, 158, 55);
  --iblob_2: rgb(211, 44, 186);
}

.dark-mode {
  --bg: rgb(2, 6, 21);
  --bg_light: rgb(8, 13, 32);
  --text-color: #fff;
  --header-bg: rgba(0, 0, 20, 0.5);
  --footer-bg: rgba(0, 0, 20, 0.5);
  --logo-color: rgb(252, 238, 223);
  --iblob_1: rgb(20, 10, 234);
  --iblob_2: rgb(238, 185, 62);
}

.gradient-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity var(--transition-time) ease;
}

/* Light theme gradient */
.light-gradient {
  background: linear-gradient(to bottom right, 
    rgb(240, 233, 222),
    rgb(255, 253, 248)
  );
  opacity: 0;
}

/* Dark theme gradient */
.dark-gradient {
  background: linear-gradient(to bottom right, 
    rgb(2, 6, 21),
    rgb(8, 13, 32)
  );
  opacity: 1;
}

/* Theme classes */
.light-mode .light-gradient {
  opacity: 1;
}

.light-mode .dark-gradient {
  opacity: 0;
}

.dark-mode .light-gradient {
  opacity: 0;
}

.dark-mode .dark-gradient {
  opacity: 1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

/* Dark Mode Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ade6ff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 225, 0);
  box-shadow: 0 0 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider > i {
  position: absolute;
  font-size: 1.2rem;
  color: black;
  top: 8px;
}

.slider > #sun { left: 7.5px; }

.slider > #moon { left: 45px; }

input:checked + .slider {
  background-color: #01101c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  background-color: rgb(255, 254, 231);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* Header and Footer*/

header, footer {
  position: relative;
  z-index: 10;
  background-color: var(--header-bg);
  transition: background-color var(--transition-time) ease;
}

/* Header */
#header-top{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#header-main {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#logo{
  display: flex;
  align-items: center;
  padding: 20px;
}

#header-logo {
  height: auto;
  width: 50px;
  fill: none;
  stroke: none;

}

#header-bar {
  height: 50px;
  width: auto;
  fill: var(--logo-color);
  stroke: var(--logo-color);
  padding-left: 10px;
  transform-origin: center;
  animation: growSvg 0.5s ease-out forwards;
}

@keyframes growSvg {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#header-name {
  height: 70px;
  width: auto;
  fill: var(--logo-color);
  stroke: none;
}

#header-logo path {
  stroke: var(--logo-color);
  stroke-width: 2;
  stroke-dasharray: 4500;
  stroke-dashoffset: 4500;
  animation: 
      draw 3s linear forwards,
      fill 0.5s linear 1s forwards;
}
@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
      fill: transparent;
  }
  to {
      fill: var(--logo-color);
  }
}

/* Header Nav */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li { margin-right: 1rem; }

nav ul li:first-child { margin-left: 0; }

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

/* Footer */
footer {
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

.social-icons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.social-icons a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60px;
  margin: 0 10px;
}

.social-icons .icon-container {
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a i { font-size: 2rem; }

.social-icons a span {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  line-height: 1;
}

#linkedin-icon:hover { color: #0a66c2; }
#youtube-icon:hover { color: #ff0000; }
#email-icon:hover { color: #ffbb00; }
#resume-icon:hover { color: #039c17; }
#github-icon:hover { color: #5c3893; }


/* Main Content */

#content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

main {

  flex-grow: 1;
  position: relative;
}


.content-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/*
Welcome
*/
.welcome-container {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  padding: 3rem;
  box-shadow: 
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06),
      inset 0 1px 1px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateY(20px);
  opacity: 0;
  animation: floatIn 1s forwards;
  animation-delay: var(--welcome-delay);
  max-width: 45rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .content-area {
      padding: 1rem;
  }
  
  .welcome-container {
      padding: 2rem;
  }
}
.welcome-container > * {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
}

.greeting {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: -1rem;
  /* margin-bottom: 1.5rem; */
  animation-delay: var(--welcome-delay);
}

.name {
  display: inline-block;
  position: relative;
  color: transparent;
  background: linear-gradient(120deg, #81caff, #9873ff);
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientFlow 4s linear infinite;
}

.name::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.2rem;
  width: 100%;
  height: 3px;
  background: linear-gradient(120deg, #68b4ea, #5b34c7);
  transform: scaleX(0);
  transform-origin: left;
  animation: underlineExpand 0.8s forwards;
  animation-delay: calc(0.35s + var(--welcome-delay));
}

.name:hover {
  animation: shimmer 2.5s forwards;
}


.title {
  font-size: 1.75rem;
  color: #7cb2f6;
  margin-top: -1rem;
  margin-bottom: 1rem;
  animation-delay: calc(1.5s + var(--welcome-delay));
}

.tagline {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #cbd5e1;
  animation-delay: calc(2.5s + var(--welcome-delay));
}

.decorative-line {
  height: 2px;
  width: 25rem;
  background: #60a5fa;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: scaleX(0);
  animation: expandLine 0.6s forwards;
  animation-delay: calc(3.5s + var(--welcome-delay));
}

@keyframes floatIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes expandLine {
  to {
      opacity: 0.75;
      transform: scaleX(1);
  }
}

@keyframes underlineExpand {
  to {
      transform: scaleX(1);
  }
}

@keyframes gradientFlow {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes shimmer {
  0% {
      text-shadow: none;
  }
  25% {
      text-shadow: 0 0 8px rgba(244, 249, 255, 0.5);
  }
  100% {
      text-shadow: none;
  }
}


/* Lorenz */
#lorenzCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


/* Background */
#background-effects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  filter: blur(160px);
}

#iblob {
  height: 50vmin;
  aspect-ratio: 8/9;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  rotate: -22deg;
  border-radius: 50%;
  background: linear-gradient(
    to right, var(--iblob_1), var(--iblob_2));
  animation: rotate 20s infinite linear,
             scale_h 13s infinite ease-in-out,
             scale_v 11s infinite ease-in-out,
             mutate 7s infinite ease-in-out;
  z-index: -2;
}

@keyframes rotate {
  from { rotate: 0deg; }
  to { rotate: 360deg; }
}

@keyframes scale_v {
  from, to { transform: scaleY(1); }
  50% { transform: scaleY(0.3); }
}

@keyframes scale_h {
  from, to { transform: scaleX(1); }
  50% { transform: scaleX(0.5); }
}

@keyframes mutate {
  0%, 100% { aspect-ratio: 8/9; }
  50% { aspect-ratio: 9/8; }
}