:root {
  --bg: rgb(4, 9, 30);
  --text-color: #fff;
  --header-bg: rgba(0, 0, 20, 0.5);
  --footer-bg: rgba(0, 0, 20, 0.5);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

body {
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ade6ff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 225, 0);
  box-shadow: 0 0 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider > i {
  position: absolute;
  font-size: 1.2rem;
  color: black;
  top: 8px;
}

.slider > #sun {
  left: 7.5px;
}

.slider > #moon {
  left: 45px;
}

input:checked + .slider {
  background-color: #01101c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  background-color: rgb(255, 254, 231);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

header, footer {
  position: relative;
  z-index: 10;
  background-color: var(--header-bg);
  /* backdrop-filter: blur(10px); */
}

#header-top{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#header-main {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#logo{
  display: flex;
  align-items: center;
  padding: 20px;
}

#header-logo {
  height: auto;
  width: 50px;
  fill: none;
  stroke: none;

}

#header-bar {
  height: 50px;
  width: auto;
  fill: white;
  stroke: white;
  padding-left: 10px;
  transform-origin: center;
  animation: growSvg 0.5s ease-out forwards;
}

@keyframes growSvg {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#header-name {
  height: 70px;
  width: auto;
  fill: white;
  stroke: none;
  /* padding-left: 15px; */

}


#header-logo path {
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 4500;
  stroke-dashoffset: 4500;
  animation: 
      draw 3s linear forwards,
      fill 0.5s linear 1s forwards;
}
@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
      fill: transparent;
  }
  to {
      fill: white;
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li:first-child {
  margin-left: 0; 
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

main {

  flex-grow: 1;
  position: relative;
}

footer {
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

.social-icons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.social-icons a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60px; /* Set a fixed width for each icon container */
  margin: 0 10px; /* Adjust horizontal spacing between icons */
}

.social-icons .icon-container {
  height: 40px; /* Fixed height for icon container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a i {
  font-size: 2rem;
}

.social-icons a span {
  font-size: 0.8rem;
  margin-top: 0.5rem; /* Increased margin to create more separation */
  line-height: 1; /* Ensures consistent text height */
}

#linkedin-icon:hover {
    color: #0a66c2; 
}

#youtube-icon:hover {
  color: #ff0000; 
}

#email-icon:hover {
  color: #ffbb00; 
}

#resume-icon:hover {
  color: #039c17; 
  }

#github-icon:hover {
color: #5c3893; 
}